@import "variables.less";

.accordion > * { transition: all .3s ease 0s; }

member {
  flex: initial;
  width: 20%;
  height: 80vh;
  text-align: center;
  color: #fff;
  text-decoration: none;
  vertical-align: bottom;
  box-sizing: border-box;
  padding: 2vh 1vw;
  position: relative;
  border-left: solid;
  &:nth-child(1){
    border-left: none;
  }
  
  &:hover .expanded{
    opacity: 1;
    transition:  opacity 0.3s ease 0.3s;
  }
}

.accordion {
  background: @uoft-blue;
  width: 100vw;
  height: 80vh;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: hidden;
  
  &:hover member {
    flex: initial;
    width: 10%;
  }
  
  member:hover {
    width: 60%;
    h2 {
      opacity: 0;
      transition: opacity 0.3s ease 0s;
    }
    
  }
}

.expanded {
  opacity: 0;
  transition: opacity .2s ease 0;
  text-align: left;
  width: 58vw;
  p {
    width: 40vw;
  }
  p, h3 { 
    margin: 0 0 1em 0; 
  }
}

.compressed {
  top: 2vh;
  position: absolute;
  text-align: center;
  width: 90%;
  margin: 0;
  font-size: 2vh;
}